<!DOCTYPE html>
<html>

<body>

  <h1>Checking for you!</h1>
  <p>Current artists: {{ boycotted_artists }}</p>
  <p>Adding and removing artists is communal! Everyone attached to this app will also have those artists skipped so
    please be mindful ^v^</p>
  <p>Remove yourself from the boycott by going to Spotify > Account > Security and privacy > Manage apps</p>
  <h2>Add Artists</h2>

  <form action="/listening" method='post'>
    <label for="Artist">Add Artist:</label><br>
    <input type="text" id="artist" name="add-artist" value=""><br>
    <label for="Artist">Remove Artist:</label><br>
    <input type="text" id="artist" name="remove-artist" value=""><br>
    <input type="submit" value="Submit">

  </form>


</body>

</html>